<!-- 
    STOP! You should understand how index.html AND events.html are built first. 

    This page is a prototype of an event page, showing details about a specific event.

    An unregistered user will not see any buttons.
    A registered user (attendee) will see the "star" buttons
    An admin user will see the edit, delete, and create buttons

    This page has the same nav header and footer as index; the main section is what contains different things.

    Many things of note are shared with events.html: 
        Tables, which materialize has nice options for: https://materializecss.com/table.html
        Icons, which are : https://materializecss.com/icons.html
        Materialize "buttons": https://materializecss.com/buttons.html
        Some custom CSS for formatting tables:         <link rel="stylesheet" href="/styles/tables.css">
        Some custom JS for interactive buttons:     <script src="/js/event_utils.js"></script>
        Some onclick attributes on certain clickable HTML elements, which trigger a snippet of JS

    Some things of note SPECIFIC TO THIS PAGE:
        Most of the page is a Materialize Card:    https://materializecss.com/cards.html 
        Some custom CSS:         <link rel="stylesheet" href="/styles/event.css">


    After this page, check out eventform.html (a sample add/modify event page)
 -->

  <main>
      <div class="container">

                <div class="card">
                  <!-- image is optional -->
                  <div class="card-image">
                      <!-- Added div wrapper to create dark gradient -->
                      <div class="card-image-gradient"> 
                          <img src="/images/clipart.jpeg">
                      </div>
                      <span class="card-title"><h1>{{oneclass.name}}</h1></span>
                    <!-- USER ONLY - Initialize page with appropriate state of button -->
                    <a onclick='toggleInterest(this, "{{oneclass.id }}")' class="btn-floating btn-large halfway-fab waves-effect waves-light scale-transition scale-in blue"><i class="material-icons">star_border</i></a>
                    <!-- <a onclick='toggleInterest(this, "{{ event_id }}"))'class="btn-floating btn-large halfway-fab waves-effect waves-light scale-transition scale-in yellow"><iclass="material-icons">star</i></a> -->
                      
                  </div>
                  <div class="card-content">

                      <table class="centered responsive-table">
                          <thead>
                              <tr>
                              <th>Name</th>
                              <th>Date / Time </th>
                              <th>Duration</th>
                              <!-- ADMIN ONLY BUTTONS -->
                              {{!-- <th>Admin Op</th> --}}
                              
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                              <td>{{oneclass.name}}
                              <td>{{oneclass.date}} {{oneclass.time}}</td>
                              <td>{{oneclass.duration}}</td>
                              <!-- ADMIN ONLY BUTTONS -->

                              {{!-- <td nowrap>
                                
                                  <!-- Alternatively to going to a new page, trigger a modal ??-->
                                  <a class="btn-floating waves-effect waves-light green lighten-1" href="/events/modify/{{oneclass.id}}"><i class="material-icons">edit</i></a>
                                  <a class="btn-floating waves-effect waves-light red" onclick='confirmDelete("{{oneclass.name}}","{{ oneclass.id}}", "/events.html")'><i class="material-icons">delete</i></a>
      
                              </td> --}}

                          </tbody>
                      </table>
                      <div class="container event-description">{{event.event_description}}</div>
                      
                      
                      <!-- TODO: Add a scrollable table (or series of cards??) listing the attendees who are interested -->
                      <!-- https://vembarrajan.medium.com/html-css-tricks-scroll-able-table-body-tbody-d23182ae0fbc -->
                  </div>
                </div>
    <div class="container">
      <div class="card">
      <h1>Participants</h1>

      <blockquote>
        Click on <i class="material-icons tiny">sort</i> to sort by that column, or items in <i
          class="material-icons tiny">filter_list</i> columns to filter by that item.
      </blockquote>
      <div class="row">
        <div class="col l3 s12 "> <i class="left material-icons">sort</i>Sorted by: Last Name</div>
        <div class="col l3 offset-l6 ">
          <!-- Position differently (left) for mobile -->
          <div class="right hide-on-small-only"><i class="left material-icons">filter_list</i>Filter: None</div>
          <div class="left hide-on-med-and-up"><i class="left material-icons">filter_list</i>Filter: None</div>
        </div>

      </div>

      <!-- https://materializecss.com/table.html -->
      <table class="highlight centered responsive-table">
        <thead>
          <tr>
            <!-- USER ONLY-->
            <th><i class="material-icons">star</i>
              <a href="?sort=starred"><i class="material-icons">sort</i></a>
            </th> 

            <th> <a href = "/classes/">{{classname}}</a>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Home Address</th>
            {{!-- <th>Admin Op</th> --}}
          </tr>
        </thead>

        <tbody>
          {{#each clients}}
          <tr>
            <!-- USER ONLY - Initialize page with appropriate state of button -->
            <td>
              <a onclick='toggleInterest(this, "{{ client_id }}")'
                class="btn-floating btn-small waves-effect waves-light scale-transition scale-in blue"><i
                  class="material-icons">star_border</i></a>
              <!-- If user already "starred" this event, it should be a yellow star -->
              <!-- <a onclick='toggleInterest(this, "{{ event_id }}"))'class="btn-floating btn-small waves-effect waves-light scale-transition scale-in yellow"><iclass="material-icons">star</i></a> -->
            </td>
            <td>{{first_name}}</a></td>
            <td> {{last_name}}</td>
            <td> {{email}}</a></td>
            <td> {{phone_number}}</a></td>
            <td> {{home_address}}</a></td>
            <!-- ADMIN ONLY BUTTONS -->
            {{!-- <td nowrap>
              <a class="btn-floating btn-small waves-effect waves-light green lighten-1" href="/classes/modify/{{client_id}}"><i
                  class="material-icons">edit</i></a>
              <a class="btn-floating waves-effect waves-light red"
                onclick='confirmDelete("{{class_name}}","{{ class_id}}")'><i class="material-icons">delete</i></a>
            </td> --}}
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>

        <div class="container">
        <div class="card grey lighten-4">
          <div class="card-content">

            <span class="card-title">
              <h1> Create New Client </h1>
            </span>


            <div class="row">
              <div class="input-field col s6">
                <input type="text" id="event_name" class="validate" data-length="16" required>
                <label for="event_name">First Name</label>
              </div>
            <div class="input-field col s6">
                <input type="text" id="event_name" class="validate" data-length="16" required>
                <label for="event_name">Last Name</label>
              </div>
            </div>

            <!-- https://materializecss.com/select.html -->
            <div class="row">
              <div class="input-field col s4">
                <input type="text">
                <label>Email</label>
              </div>

            <div class="row">
              <div class="input-field col s4">
                <input type="text">
                <label>Phone Number</label>
              </div>

            <div class="row">
              <div class="input-field col s10">
                <input type="text">
                <label>Home Address</label>
              </div>

            <div class="row">
              <div class="input-field col s10">
                <input type="text">
                <label>Medical Issues</label>
              </div>
            </div>

            <div class="button_wrapper">
              <button class="submit waves-effect waves-light btn" type="submit">Create</button>
            </div>
          </div>
        </div>

      </div>
    </form>

          
  
      </div>
  </main>

<script src="/js/event_utils.js"></script>
